* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #393e46;
  height: 60px;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
.navcontainer {
  display: flex;
  
}
.navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  
}
.brandlogo {
  height: 30px;
  padding: 20px 20px;
  text-decoration: line-through;
}
.navsignup {
  margin-left: 600px;
  width: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navhover:hover{
  background-color:#222831 ;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.navhome{
  background-color:#222831 ;  
}
.img1{
  background-image: url(trials1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  opacity: 1;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  align-self: center;
  color: #ffffff;
}
.img1button{
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 20px;
  border: none;
  
}
.button{
  border:2px solid white;
  padding: 15px 30px;
  background-color:transparent;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.img2{
  background-image: url("trials2.png");
  width:60%;
  height:290px;
  opacity: 2;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20%;
  margin-top: 20px;
  
}
.content2{
  background-color:black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items:center ;
  color: #ffffff;
}
.content3{
  background-color:#393e46;
  height: 280px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
}
.content4{
  background-color:#2c2f30;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.c3column2{
  background-image: url(trials3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 250px;
  height: 250px;
  padding-left: 130px;
  margin-left: 60px;
}
.img{
  background-image: url("trials2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:400px;
  height:420px;
  margin-top: 80px;
}
.c4column2{
  color: white;
  

}
.c4box{
  width: 50px;
  height: 50px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c4featureitem{
  display: flex;
  align-items: center;
  
}
.c4text{
  margin-left: 20px;
}
.content5{
  background-color:#393e46 ;
  height: 500px;
  display:flex;
  color: #ffffff;
  align-items: center;
  justify-content:space-evenly;

}
.c5column2{
  background-image: url("trials4.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 420px;
  margin-top: 80px;
}
.content6{
  background-color: #000000;
  height: 700px;
}